---
import Layout from "../layouts/Layout.astro";
import Menu from "../components/landing/Menu.astro";
import Aboutpage from "../components/landing/Aboutpage.astro";

---

<Layout title="Managed Farmland">

  <main>
    <Menu/>


<Aboutpage/>



  </main>
</Layout>

<style>
  :global(h1) {
    margin: 2rem 0;
  }

  main {
    margin: auto;
  }
</style>
