---
import About from "../components/landing/About.astro";
import Features from "../components/landing/Features.astro";
import More from "../components/landing/More.astro";
import Projects from "../components/landing/Projects.astro";
import Layout from "../layouts/Layout.astro";
import Menu from "../components/landing/Menu.astro";
import Contacto from "../components/landing/Contacto.astro";
import Carousel from '../components/landing/Carousel.astro';

---

<Layout title="Managed Farmland">

  <main>
    <Menu/>
    <Carousel />
    <More />
    <Features />
    <About />
    <Contacto />
    <Projects />
  </main>
</Layout>

<style>
  :global(h1) {
    margin: 2rem 0;
  }

  main {
    margin: auto;
  }
</style>
